.card-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1.5rem;
    margin-top: 1rem;
    justify-items: center;
}
.card{
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
}

.card>img{
    border-radius: 10px;
}

@media (max-width: 760px){
    .card-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 761px) and (max-width: 1000px){
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
